Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/db.lock
Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/storage.ide
Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/storage.ide-wal
Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/storage.ide-shm
Unity Animation Project/Assets/Sounds/Beneath the Mask.ogg
Unity Animation Project/Assets/Sounds/Beneath the Mask.ogg.meta
Unity Animation Project/Temp/UnityLockfile
