Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/db.lock
Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/storage.ide
Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/storage.ide-wal
Unity Animation Project/.vs/Unity Animation Project/v15/Server/sqlite3/storage.ide-shm
